{# [module]/templates/my-template.html.twig #}

<div class="texas-plant-image"> {{ content.field_tp_plant_image }} </div>
<div class="texas-plant-body">
  <p> {{ content.field_tp_description }} </p>
  <p> {{ content.field_tp_care_instructions }} </p>
  <p> {{ content.field_tp_latin_name }} </p>
</div>



<p>node--texas-plant.html.twig
<p>test_var: {{ test_var }}</p>
